<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Ingredients Planner</title>
    
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/ingredients.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />  
	</head>
	<body>
    {{!-- this is going to be on everypage.  --}}
		{{{ body }}}
	</body>
</html>
