<!DOCTYPE html>
<html>

<head>

    <title>Responsive Portfolio</title>
    {{!-- Local CSS --}}
    <link rel="stylesheet" type="text/css" href="assets/css/style.css">
    {{!-- Form CSS --}}
    <link rel="stylesheet" href="assets/css/form.css">
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
		{{!-- jQuery --}}
		<script src="https://code.jquery.com/jquery.js"></script>
		{{!-- local Javascript --}}
		<script src="/assets/js/ingredients.js"></script>
		{{!-- Firebase JS--}}
    <script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
		{{!-- Firebase CSS--}}
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css" />  


    
</head>

<body>

  <div class="layout">

    <div class="the_nav">
      <div class="nav_name">
        <p>Welcome<p>
      </div>

      <div class="nav_items">
        <div class="contact">
          <a href="contact.html">Dashboard</a>
        </div>
        <div class="portfolio">

          <a href="portfolio.html">Settings</a>
        </div>
        <div class="about">
          <a href="index.html" id="signIn">Sign In</a>
        </div>

      </div>
    </div>

    <div class="content">
      {{{ body }}}
    </div>

  </div>



{{!-- firebase --}}
<script src="https://www.gstatic.com/firebasejs/5.11.0/firebase.js"></script>
{{!-- authentication.js --}}
<script src="assets/js/authentication.js"></script>
{{!-- logic.js --}}
<script src="assets/javascript/logic.js"></script>

</body>

</html>