<h1>Find Your Next Meal</h1>

<form id="form">
    <input class="justify-content-center" type="text" id="itemInput" placeholder="Add Your Ingredients Here">

    <button type="submit" id="submitButton">Submit</button>
</form>

<div id="ingredients"></div>

<button type="submit" id="search">Search for Recipes</button>



<br><br>

<hr>

<div id="results"></div>



<script src="assets/js/form.js"></script>