<link rel="stylesheet" href="assets/css/recipes.css">
<h1>What Can We Make Tonight?</h1>

<button type="submit" id="search">Search for Recipes</button>

<form id="form">
    <input type="text" id="itemInput" required>

    <button type="submit" id="submitButton">Submit</button>
</form>
<div class="ingredientsArea">
    <div id="ingredients">

    </div>
</div>

<br><br>

<hr>

<div id="results"></div>



<script src="assets/js/form.js"></script>