<h1>Testing form</h1>

<button type="submit" id="search">Search for recipes</button>

<form id="form">
    <input type="text" id="itemInput">

    <button type="submit" id="submitButton">Submit</button>
</form>

<div id="ingredients"></div>

<br><br>

<button type="submit" id="testing">Testing</button>

<script src="assets/js/form.js"></script>