<h1>What Can We Make Tonight?</h1>

<button type="submit" id="search">Search for Recipes</button>

<form id="form">
    <input type="text" id="itemInput" required>

    <button type="submit" id="submitButton">Submit</button>
</form>
<div class="ingredientsArea">
    <div id="ingredients">

    </div>
    {{!-- <div class="commonIngredients">
        <h3>Common Refrigerator Items</h3>
        <ul>
            <li>almond milk</li>
            <li>eggs</li>
            <li>garlic</li>
            <li>onion</li>
            <li>salt</li>
            <li>pepper</li>
            <li>rice</li>
         
            
        </ul>
    </div> --}}
</div>

<br><br>

<hr>

<div id="results"></div>



<script src="assets/js/form.js"></script>