<!-- The surrounding HTML is left untouched by FirebaseUI.
     Your app may use that space for branding, controls and other customizations.-->
     {{!-- this would be like the login page for real world application --}}
<h1>What's in the Fridge?</h1>

<div class="discriptionBox">
<h2 class="header justify-content-center">What Should We Make For Dinner?</h2>

<div class="breakLine"></div>
<br>

<h3 class="discriptionHead justify-content-center">Have alot of mix and match food items in your fridge, but don't know what to make?!</h3>
<h3 class="discriptionMid justify-content-center">Let Us Help You Find Your Next Meal!</h3>
<h3 class="discription justify-content-center">It's as easy as 1, 2, 3.. Add your items, we will do the work! Pull up recipes that you can make starting with the ingredients you already have in your fridge or pantry! Find your new favorite meals today, or try something you never would have thought of!</h3>
<h3 class="instructions justify-content-center">Don't know where to start? Check out these recipes below:</h3>




<div class="frontPageSamples">
      <img class="frontPageImages" src="assets/img/steak.jpg">
    <img class="frontPageImages" src="assets/img/pineapple.jpg">
    <img class="frontPageImages" src="assets/img/apple.jpg">
    <img class="frontPageImages" src="assets/img/pork.jpg">
</div>

</div>


{{!-- probably need to move this at some point, but wanted to 
code it out.  --}}
{{!-- <div id="loginDiv">
  <h3>Web Login</h3>
  <input id="emailInput" type="email" placeholder="email@email.com"  required>
  <input id="passwordInput" type="password" placeholder="password" required>
  <button id="submit" type="submit" onclick="login()" >Submit</button>
</div> --}}

{{!-- logging out area should be display hidden until logged in --}}
 {{!-- <div class="logoutDiv">
  <h3>Welcome Chef!</h3>
  <p id="logoutP" >Welcome to Ingredients Planner's </p>
  <button id="logout" type="button" onclick="logout()">Logout</button>
</div> --}}