body {
    background-size: 100%;
    background-attachment: fixed;
    
}
button {
    margin: 5px;
    background-color: rgb(44, 83, 44);
    border: transparent;
    color: white;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}

#search{
    margin-bottom: 40px;
    line-height: 10px;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 18px;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 40px;   

}

#ingredients {
    outline-style: solid;
    outline-color: rgb(44, 83, 44);
    margin-top: 10px;
    width: 99.4%;
    margin: 3px;
    margin-top: 20px;
 
}

/* the color behind the text of the added ingredient */
.ingredient{ 
    width: 40%;
    display: flex;
    flex-direction: row;
  

}

.ingredient > * {
    padding: 10px 15px;

}

.recipe{
    width: 100%;
    border: 2px solid rgb(44, 83, 44);
    margin: 20px 0px;
    border-radius: 5px;
    /* background-color: #fff7e6; */
    background-color:rgba(25, 76, 25, 0.2);
}

.recipeContainer{
    display: flex;
    flex-direction: row;
}

/* Maintains image aspect ratio */
.recipeContainer img {
    margin: 10px;
    max-width: 312px;
    max-height: 231px;
    width: auto;
    height: auto;
    border: 1px solid black;
}

.recipeDetails{
    width: 100%;
    text-align: center;
}

.recipeTitle{
    text-align: center;
    font-size: 35px;
}

.expand{
    height: 800px;
    display: grid;
    grid-template-rows: [title] 40px [content] auto [image] auto;
}

.userDropDown{
	background-color: rgb(187, 20, 20);
	color: white;
	border: none;
	font-size: 18px;
	font-family: 'IBM Plex Sans', sans-serif;
}